* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: none;
    text-decoration: none;
    list-style-type: none;
}

a {
    cursor: pointer;
}

html,
body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-section {
    height: 100vh;
    width: 100vw;
}

.pre-heaer {
    width: 100%;
    background-color: blue;

}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.header-image {
    height: auto;
    max-width: 30%;
    border-radius: 25px;
}

.menu {
    width: 100%;
    display: flex;
    margin-top: 25px;
    height: auto;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.content-section {
    display: grid;
    grid-template-areas: "t i";
    grid-template-columns: 2fr 1fr;
    padding: 30px;
    align-items: center;
    height: 50vh;
}

.text-nav {
    grid-area: t;
    max-width: 90%;
}

.image-nav {
    grid-area: i;
}

.image-content {
    max-width: 100%;
}

.section-form {
    height: 30vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    border-radius: 5px;
}

.input {
    margin-bottom: 20px;
}

form .input label {
    font-size: 14px;
    color: darkslateblue;
  }

  form .input input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }

  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #08335c;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

.footer-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}